        p{background-color:white}
        img.resize{height:auto;width:650px}
        body {background-color:white}
        h1 {color:black;font-family:Arial,Helvetica,sans-serif;}
        h2 {color:black;font-family:Arial,Helvetica,sans-serif;}
        h3.bama{color:rgb(158,27,50);font-family:Arial,Helvetica,sans-serif;}
        h3.lsu{color:rgb(70, 29, 124);font-family:Arial,Helvetica,sans-serif;}
        h3.uva{color:rgb(35,45,75);font-family:Arial,Helvetica,sans-serif;}
        h3.umd{color:rgb(224,58,62);font-family:Arial,Helvetica,sans-serif;}
        h3.clem{color:rgb(234,106,32);font-family:Arial,Helvetica,sans-serif;}
        h3.tula{color:rgb(0,88,55);font-family:Arial,Helvetica,sans-serif;}
        h3.temp{color:rgb(163,58,36);font-family:Arial,Helvetica,sans-serif;}
/*links*/
        a {background-color:rgb(255, 255, 255);font-family:Arial,Helvetica,sans-serif;}
        a.index{color:rgb(0,0,0)}
        a.bama{color:rgb(158,27,50)}
        a.lsu{color:rgb(70,29,124)}
        a.uva{color:rgb(35,45,75)}
        a.umd{color:rgb(224,58,62)}
        a.clem{color:rgb(234,106,32)}
        a.tula{color:rgb(0,88,55)}
        a.temp{color:rgb(163,58,36)}

        a:hover{color:white}
        a.index:hover{background-color:rgb(150,150,150)}
        a.bama:hover{background-color:rgb(158,27,50)}
        a.lsu:hover{background-color:rgb(70,29,124)}
        a.uva:hover{background-color:rgb(35,45,75)}
        a.umd:hover{background-color:rgb(224,58,62)}
        a.clem:hover{background-color:rgb(234,106,32)}
        a.tula:hover{background-color:rgb(0,88,55)}
        a.temp:hover{background-color:rgb(163,58,36)}

        a.index:active{background-color:rgb(150,150,150)}
        a.bama:active{background-color:rgb(158,27,50)}
        a.lsu:active{background-color:rgb(70,29,124)}
        a.uva:active{background-color:rgb(35,45,75)}
        a.umd:active{background-color:rgb(224,58,62)}
        a.clem:active{background-color:rgb(234,106,32)}
        a.tula:active{background-color:rgb(0,88,55)}
        a.temp:active{background-color:rgb(163,58,36)}
/*text (p1 is main and p2 is off)*/
        p {color:black;font-family:Arial,Helvetica,sans-serif;max-width:650px;text-align:justify}
        p.a {color:white;font-family:Arial,Helvetica,sans-serif;}
/*main list style*/
ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:#333;
    position:fixed;
    top:0;
    width:100%;
}

li {
    float: left;
    border-bottom:1px solid#555;
    border-left:1px solid#555;
    border-top:1px solid#555;
}
li:last-child {border-right:1px solid#555}
li a {
    display:block;
    color:white;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
}
ul {
    list-style-type: none;
    margin:1;
    padding:0;
    overflow:auto;
    background-color:white;
    position:fixed;
    top:0;
    width:100%;
}
