#sectionone p {
  color:lightgreen;
  margin-left:30px;
  }
  h2 {
    color:green;
    margin-left:50px;
    text-shadow: 3px 2px lightgreen;
  }

#navbar ul{
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: grey;
  }

#navbar li{
  float: middle;
  }

#navbar li a{
  display: block;
  color: darkblue;
  text-align: center;
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-left: 40px;
  text-decoration: none;
  }
