img.resize{height:auto;width:650px}
body{background-image:url("../images/darkmos.png");background-repeat:repeat;}
h1{color:black;font-family:Arial,Helvetica,sans-serif;}
h2{color:black;font-family:Arial,Helvetica,sans-serif;}

a:hover{color:white}
a:active{color:white}

h1.crimson{color:rgb(158,27,50);font-family:Arial,Helvetica,sans-serif;}
h3.crimson{color:rgb(158,27,50);font-family:Arial,Helvetica,sans-serif;}
a.crimson{background-color:rgb(158,27,50);color:white}
a.crimson:active{background-color:white;color:rgb(158,27,50)}
a.crimson:hover{background-color:white;color:rgb(158,27,50)}
p.crimson{color:rgb(158,27,50);font-family:Arial,Helvetica,sans-serif;}

.link{color:black;font-size:75%}
.link:hover{color:rgb(158,27,50)}
.link:active{color:rgb(158,27,50)}

h3.bluedark{color:rgb(92,105,131);font-family:Arial,Helvetica,sans-serif}
a.bluedark{background-color:rgb(92,105,131)}
a.bluedark:active{background-color:rgb(92,105,131)}
a.bluedark:hover{background-color:rgb(92,105,131)}
p.bluedark{color:rgb(92,105,131);font-family:Arial,Helvetica,sans-serif;}

h3.bluelite{color:rgb(137,215,237);font-family:Arial,Helvetica,sans-serif}
a.bluelite{background-color:rgb(137,215,237)}
a.bluelite:active{background-color:rgb(137,215,237)}
a.bluelite:hover{background-color:rgb(137,215,237)}
p.bluelite{color:rgb(137,215,237);font-family:Arial,Helvetica,sans-serif;}

p{color:rgb(255, 255, 255);font-family:Arial,Helvetica,sans-serif;max-width:650px;text-align:justify;}
p.a{color:rgb(158,27,50);font-family:Arial,Helvetica,sans-serif;}

div.wrapper {
margin-left : 5%;
margin-right : 5%;
}
ul {
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow:  none;
    background-color: #ffffff;
}

li {
    float:left;
}

li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgb(235, 235, 235);
}

li a.active {
    color: rgb(230, 230, 230);
}

.content {
    /* These rules create an artificially confined space, so we get 
       a scrollbar that we can hide. They are not part of the hiding itself. */;
    white-space: pre-wrap;
    height: 5px;
    overflow-y: scroll;
  }
