ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: #111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #111;
}
p {
color:#C0C0C0;
margin-left:30px;}
h2 {
  color: red;
}
#sectionOne h2{
  text-shadow: 3px 6px blue;
}

body {
      background-color: #444;
      font-family: sans-serif;
      background-image: url("forest.jpeg");
}
